<!DOCTYPE html>

<head>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/index.css">
    <title>Weather | About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app uses Weather API from <a href="https://mapbox.com">mapbox.com</a> and <a href="https://darksky.net">darksky.net</a></p>
        <img class="portrait"
            src="https://user-images.githubusercontent.com/13700/35731649-652807e8-080e-11e8-88fd-1b2f6d553b2d.png"
            alt="nothing">
    </div>
    {{>footer}}
</body>

</html>