<!DOCTYPE html>

<head>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/index.css">
    <title>Weather|Help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    {{>footer}}
</body>

</html>