<!DOCTYPE html>

<head>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="/css/index.css">
    <title>Weather</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Find your weather forecast here!</p>
        <form>
            <input type="text" name="address" placeholder="Location">
            <button type="submit">Find forecast</button>
        </form>
        <p id="message_1"></p>
        <p id="message_2"></p>
    </div>
    {{>footer}}
    <script src="/js/index.js"></script>
</body>

</html>